<h1>Event#edit</h1>
<%= form_for @event do |f| %>
<div class="form-group">
	<%= f.text_field :start_date,placeholder: 'start_date',class: 'form-control' %>
	
</div>
<div class="form-group">
	<%= f.text_field :duration, placeholder: 'duration', class: 'form-control' %>
	
</div>
<div class="form-group">
	<%= f.text_field :title, placeholder: 'title', class: 'form-control' %>
	
</div>
<div class="form-group">
	<%= f.text_field :description, placeholder: 'description', class: 'form-control' %>
	
</div>
<div class="form-group">
	<%= f.text_field :price, placeholder: 'price', class: 'form-control' %>
	
</div>
<div class="form-group">
	<%= f.text_field :location, placeholder: 'location', class: 'form-control' %>
	
</div>
<div class="form-group">
	<button class="btn btn-primary" type="submit"> Edit event</button>
	
</div>
	
<% end %>